.theme-toggle input,
.theme-toggle label {
  cursor: pointer;
}

.todo-articles-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-list {
  border-bottom: 1px solid gray;
}

li {
  border-bottom: 1px solid gray;
  /* max-width: 400px; */
  min-width: 300px;
  padding: 0.2rem 1rem;
}

.flex,
.todoItem-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.todoItem-container p {
  width: 35%;
  word-break: break-word;
}

.todoItem-button {
  height: 1.5rem;
}

.todoItem-deleted {
  text-decoration: line-through;
}

.restoreTodoLi-button,
.removeTodoLi-button {
  margin: 0.2rem;
}

.articles-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: start; */
  gap: 2rem;
}

.todoArticle {
  width: 30rem;
}

.todoAddTaskButton {
  width: 190px;
}